// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none!important;
  user-select: none;
  font-family: 'FFBauWebProMedium' !important;
  border: $btn-border-width solid transparent;
  margin:10px 0;
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base * .8125, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);
  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
    -webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.15);
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.15);

  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    background-color:#C6D2D7 !important;
    color:$light-charcoal !important;
    border-color:#C6D2D7 !important;
    @include box-shadow(none);
    &:hover, &.hover {
      box-shadow:none;
      -webkit-box-shadow:none;
    }
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}


//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
    &:hover {
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      color:$value !important;
      background-color:#fff !important;
    }
  }
}
.btn-outline-primary {
  &:hover {
    background-color:$lighter-teal !important;
  }
  &.disabled,
  &:disabled {
    background-color: $cloud !important;
    color:$light-charcoal !important;
  }
}

.btn-outline-white {
  &:hover {
    color:$teal !important;
  }
}

.btn-yellow, .btn-orange,.btn-yellow:link, .btn-orange:link, .btn-yellow:visited, .btn-orange:visited {
  color:$charcoal!important;
  text-decoration:none !important;
  .text-white &, .bg-primary & {
    color:$charcoal!important;
    text-decoration:none !important;
    &:hover {
      background:darken($yellow, 5%)!important;
      border:1px solid darken($yellow, 5%)!important;
      color:$charcoal!important;
    }
  }
  &:hover {
    background:darken($yellow, 5%)!important;
    border:1px solid darken($yellow, 5%)!important;
    color:$charcoal!important;
    text-decoration:none !important;
  }
}

.btn-tag {
  height:28px;
  background:#B2D9DC;
  color:#212B36;
  padding:5px;
  font-size:0.875rem;
  font-weight:normal;
  margin:0 5px;
  font-family: $font-family-base !important;
  i {
    color:#656F75;
    margin-left:15px;
  }
}
//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  background-color: transparent;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
    border-color: transparent;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    border-color: transparent;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}


//
// Button Sizes
//

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}


//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}


.btn-square {
  padding:0.5rem 0.75rem !important;
  font-size:1.125rem;
  // @media screen {
    
  // }
  > i {
    margin-top:3px;
  }
}

.btn-icon-text {
  display:inline-flex;
  justify-content: center;
  align-items:center;
  min-width:185px;
  i {
    font-size:1.125rem;
    margin-right:8px;
    line-height:1.125rem;
    display:inline-block;
  }
  span {
    line-height:1.125rem;
    display:inline-block;
    margin:2px 0 0;
  }
}


@media (max-width:768px) {
  .btn-sm-small {
    padding:10px 20px;
  }
}
