//
// Base styles
//

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  border: $card-border-width solid $card-border-color;
  @include border-radius($card-border-radius);
  margin:0 0 20px;
  box-shadow:0 1px 1px rgba($black, 0.05);
  -webkit-box-shadow:0 1px 1px rgba($black, 0.05);
  text-decoration: none!important;
  &.has-header {
    border-color:$light-teal;
  } 
  &.border-0 {
    box-shadow:none;
    -webkit-box-shadow:none;
  }

  p {
    font-size:1rem;
    line-height:1.25rem;
    color:$light-charcoal;
  }

  &.border-bottom-primary {
    border-bottom:5px solid $teal;
  }
  &.border-bottom-secondary {
    border-bottom:5px solid $secondary;
  }
  &.border-bottom-yellow {
    border-bottom:5px solid $yellow;
  }
  &.border-bottom-blue {
    border-bottom:5px solid $blue;
  }
  &.border-bottom-red {
    border-bottom:5px solid $red;
  }
  &.border-bottom-green {
    border-bottom:5px solid $green;
  }
  &.border-bottom-orange {
    border-bottom:5px solid $orange;
  }
  &.border-bottom-light-blue {
    border-bottom:5px solid #00BED6;
  }

  .card-block {
    padding:1.25rem;
    .card-img {
      border-radius:0;
      -webkit-border-radius:0;
      margin:0 0 1.25rem;
    }
    h3, h4 {
      margin:0;
      a, a:link, a:visited {
        text-decoration:none!important;
      }
    }
    .list-group {
      .list-group-item {
        padding:0.75rem 0;

        &:first-child {
          border-top:none;
          padding-top:0;
          border-radius:0!important;
          -webkit-border-radius:0!important;
        }
        &:last-child {
          border-bottom:none;
          padding-bottom:0;
          border-radius:0!important;
          -webkit-border-radius:0!important;
        }
        *:last-child {
          margin-bottom:0;
        }
      }
    }
    @media (max-width:768px) {
      .card-text {
        .float-left, .float-right {float:none!important;clear:both !important;display:inline-block;}
      }
      
    }

  }

  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  > .list-group:first-child {
    .list-group-item:first-child {
      @include border-top-radius($card-border-radius);
    }
  }

  > .list-group:last-child {
    .list-group-item:last-child {
      @include border-bottom-radius($card-border-radius);
    }
  }
}

a.card-wrap-link, a.card-wrap-link:link, a.card-wrap-link:visited {
  text-decoration:none!important;
  display:block;
  width:100%;
  height:100%;
  position:relative;
  .card {
      * {
      text-decoration: none!important;
    }
  }
}


.card-body {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  padding: $card-spacer-x;
  img {
    max-width: 100%;
    margin-bottom:1.25rem;
  }
  .list-group {
    border-radius:0!important;
    -webkit-border-radius:0!important;
    .list-group-item {
      border-radius:0!important;
      -webkit-border-radius:0!important;
      * {
        font-family:$font-family-base!important;
      }
    }
    .list-group-item:first-child {
      border-top:none;
    }
    .list-group-item:last-child {
      border-bottom:none;
    }
    .list-group {
      .list-group-item:last-child {
        border-bottom:1px solid #E2EBEE;
      }
    }
  }
  .panel-group {
    margin:-0.75rem 0;
  }
  .panel-default > .panel-heading a {
    font-family: "Chronicle-Text-G1";
  }
  .panel-default:first-child > .panel-heading {
    border-top:none;
  }
  .panel-default:last-child {
    border:none;
  }
  .panel-body {
    .list-group {
      margin:-0.75rem 0;
      border-radius:0!important;
      -webkit-border-radius:0!important;
      .list-group-item {
        border-radius:0!important;
        -webkit-border-radius:0!important;
        * {
          font-family:$font-family-base!important;
        }
      }
      .list-group-item:last-child {
        border-bottom:none;
      }
    }
  }
}

.rounded-0 {
  .card-header {border-radius:0!important;}
}
.card-title {
  margin-bottom: $card-spacer-y;
  &.pricing-card-title {
    small {
      clear:both;
      display:block;
      font-size:0.875rem;
      color:$lighter-charcoal;
      font-family: 'FFBauWebProRegular';
      margin:5px 0 0;
    }
  }
}
.card-title {

  font-family: 'FFBauWebProBold';
  a, a:link, a:visited {
    text-decoration: underline!important;
  }
}
h2.card-title, .h2.card-title {
  margin-bottom:4rem;
  font-size:1.625rem;
  line-height:2rem;
}

.card-subtitle {
  margin-top: -($card-spacer-y / 2);
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
  margin-top:8px;
}

.card-link {
  @include hover {
    text-decoration: none;
  }

  + .card-link {
    margin-left: $card-spacer-x;
  }
}

//
// Optional textual caps
//

.card-header {
  padding: $card-spacer-y $card-spacer-x;
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  background-color: $card-cap-bg;
  border-bottom: $card-border-width solid $card-border-color;
  font-family: 'FFBauWebProRegular';
  font-size:0.875rem;
  font-weight:normal;

  &:first-child {
    @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
  }

  + .list-group {
    .list-group-item:first-child {
      border-top: 0;
    }
  }
  *:last-child {
    margin-bottom:0;
  }
  h1,h2,h3,h4,h5,h6 {
    margin:10px 0;
  }
  p {
    font-size:1rem;
  }
}

.card-footer {
  padding: $card-spacer-y $card-spacer-x;
  background-color: $card-cap-bg;
  border-top: $card-border-width solid $card-border-color;

  &:last-child {
    @include border-radius(0 0 $card-inner-border-radius $card-inner-border-radius);
  }
}


//
// Header navs
//

.card-header-tabs {
  margin-right: -($card-spacer-x / 2);
  margin-bottom: -$card-spacer-y;
  margin-left: -($card-spacer-x / 2);
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -($card-spacer-x / 2);
  margin-left: -($card-spacer-x / 2);
}

// Card image
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $card-img-overlay-padding;
}

.card-img {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  @include border-radius($card-inner-border-radius);
}

// Card image caps
.card-img-top {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  @include border-top-radius($card-inner-border-radius);
}

.card-img-bottom {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  @include border-bottom-radius($card-inner-border-radius);
}


// Card deck

.card-deck {
  display: flex;
  flex-direction: column;

  .card {
    margin-bottom: $card-deck-margin;
  }

  @include media-breakpoint-up(sm) {
    flex-flow: row wrap;
    margin-right: -$card-deck-margin;
    margin-left: -$card-deck-margin;

    .card {
      display: flex;
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
      flex: 1 0 0%;
      flex-direction: column;
      margin-right: $card-deck-margin;
      margin-bottom: 0; // Override the default
      margin-left: $card-deck-margin;
    }
  }
}


//
// Card groups
//

.card-group {
  display: flex;
  flex-direction: column;

  // The child selector allows nested `.card` within `.card-group`
  // to display properly.
  > .card {
    margin-bottom: $card-group-margin;
  }

  @include media-breakpoint-up(sm) {
    flex-flow: row wrap;
    // The child selector allows nested `.card` within `.card-group`
    // to display properly.
    > .card {
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
      flex: 1 0 0%;
      margin-bottom: 0;

      + .card {
        margin-left: 0;
        border-left: 0;
      }

      // Handle rounded corners
      @if $enable-rounded {
        &:first-child {
          @include border-right-radius(0);

          .card-img-top,
          .card-header {
            border-top-right-radius: 0;
          }
          .card-img-bottom,
          .card-footer {
            border-bottom-right-radius: 0;
          }
        }

        &:last-child {
          @include border-left-radius(0);

          .card-img-top,
          .card-header {
            border-top-left-radius: 0;
          }
          .card-img-bottom,
          .card-footer {
            border-bottom-left-radius: 0;
          }
        }

        &:only-child {
          @include border-radius($card-border-radius);

          .card-img-top,
          .card-header {
            @include border-top-radius($card-border-radius);
          }
          .card-img-bottom,
          .card-footer {
            @include border-bottom-radius($card-border-radius);
          }
        }

        &:not(:first-child):not(:last-child):not(:only-child) {
          @include border-radius(0);

          .card-img-top,
          .card-img-bottom,
          .card-header,
          .card-footer {
            @include border-radius(0);
          }
        }
      }
    }
  }
}


//
// Columns
//

.card-columns {
  .card {
    margin-bottom: $card-columns-margin;
  }

  @include media-breakpoint-up(sm) {
    column-count: $card-columns-count;
    column-gap: $card-columns-gap;
    orphans: 1;
    widows: 1;

    .card {
      display: inline-block; // Don't let them vertically span multiple columns
      width: 100%; // Don't let their width change
    }
  }
}


//
// Accordion
//

.accordion {
  .card:not(:first-of-type):not(:last-of-type) {
    border-bottom: 0;
    border-radius: 0;
  }

  .card:not(:first-of-type) {
    .card-header:first-child {
      border-radius: 0;
    }
  }

  .card:first-of-type {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .card:last-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

}


.pricing-cards {
  .card {
    border-color:$light-cloud !important;
  }
  .card, .card-body {
    background:$white;
  }
  .list-group {
    margin-bottom:1.25rem;
  }
  .list-group-item {
    font-family: $font-family-base;
    padding:0.75rem 0;
    font-size:0.875rem;
  }

  .list-group {
    .list-group-item {
      padding:0.75rem 0;

      &:first-child {
        border-top:none;
        padding-top:0;
        border-radius:0!important;
        -webkit-border-radius:0!important;
      }
      &:last-child {
        border-bottom:none;
        padding-bottom:0;
        border-radius:0!important;
        -webkit-border-radius:0!important;
      }
      *:last-child {
        margin-bottom:0;
      }
    }
  }


  .panel-group {
    margin-bottom:1.25rem;
  }
  .panel-default > .panel-heading a {
    font-size:0.875rem;
  }
  .panel-body {
    font-size:0.875rem;
  }
}

.image-icon {
  position:relative;
  margin:0 0 40px;
  + h3 {
    margin-bottom:5px;
  }
  img {
    margin:0 !important;
  }

  .icon__container {
    width:65px;
    height:65px;
    border:5px solid $white;
    position: absolute;
    bottom: -35px;
    left: calc(50% - 35px);
    i {
      position: absolute;
      left: 0;
      right: 0;
      color: #008c95;
      font-size: 28px;
//      -ms-transform: translate(-55px, 0);
      top:45%;
      // -ms-transform: translateY(-50%);
      // transform: translateY(-50%);
    }
  }
}

.d-md-table-cell {
  h4 {
    margin:0 !important;
  }
}

.small-tiles {
 .card-block {
   display:flex;
  justify-content: flex-start;
  align-items: center;
   .tile-image {
     margin-right:20px;
     img {
       margin:0;
       max-height:100px;
       max-width:100px;
       min-height:100px;
       min-width:100px;
     }
     .icon__container {
      width:65px;
      height:65px;
      position: relative;
      i {
        position: absolute;
        left: 0;
        right: 0;
        color: #008c95;
        font-size: 28px;
      }
    }

  } //tile-image
   .tile-content {
     display:flex;
     justify-content: flex-start;
     align-content: center;
     //flex:1;
     
     h3 {
       margin:0;
       width:100%;
       display:flex;
       justify-content: flex-start;
       align-content: center;
       a, a:link, a:visited {
         text-decoration:none!important;
       }
     }
     &.has-text {
      display:block;
     }
   }
 }

}



.link-list {
  display:flex;
  justify-content: space-around;
  align-content: space-evenly;
  .list-item {
    flex: 1 1 auto;
    position: relative;
    text-align: center;
    line-height: 40px;
  }
  .list-item + .list-item {
    border-left: solid 1px #C6D2D7;
  }
  a, a:link, a:visited {
    display:block;
    margin:0;
    padding:0 20px;
    line-height:40px;
    position: relative;
    text-decoration: none!important;
    &:last-child {
      &:after {
        display:none;
      }
    }
    &:before {
      opacity:0;
      height:5px;
      width:calc(100% - 10px);
      background:$teal;
      position:absolute;
      left:5px;
      bottom:-20px;
      display:block;
      content:'';
      border-radius:3px 3px 0 0;
      -webkit-border-radius:3px 3px 0 0;
      -webkit-transition: all 500ms linear;
      -moz-transition: all 500ms linear;
      -ms-transition: all 500ms linear;
      -o-transition: all 500ms linear;
      transition: all 500ms linear;
    }
    // &:after {
    //   height:40px;
    //   width:1px;
    //   background:#C6D2D7;
    //   position:absolute;
    //   right:0px;
    //   top:0;
    //   display:block;
    //   content:'';
    // }
    &:hover {
      -webkit-transition: all 500ms linear;
      -moz-transition: all 500ms linear;
      -ms-transition: all 500ms linear;
      -o-transition: all 500ms linear;
      transition: all 500ms linear;
      text-decoration: none;

      &:before {
        opacity:1;
        -webkit-transition: all 500ms linear;
        -moz-transition: all 500ms linear;
        -ms-transition: all 500ms linear;
        -o-transition: all 500ms linear;
        transition: all 500ms linear;
      }
    }
  }

  &.blue {
    a,a:link, a:visited {
      color:$blue;
      &:before {
        background-color:$blue;
      }
    }
  }
}

@media (max-width:980px) {
  .link-list-holder {
    border:none;
    background:#fff;
    padding:0!important;
    width:100%!important;
    box-shadow:none;
    -webkit-box-shadow:none;
    .link-list {
      display:flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      margin:0;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      .list-item {
        flex: 1 1 auto;
        position: relative;
        text-align: center;
        line-height: 40px;
      }
      .list-item + .list-item {
        border-left:none;
        border-top: solid 1px #C6D2D7;
        &:first-child {
          border-top:none;
        }
      }

      a, a:link, a:visited {
        display:block;
        margin:0;
        line-height:50px;
        position: relative;
        text-align:left;
        &:before {
          display:none;
        }
        &:hover {
          &:before {
            display:none;
          }
        }
      }
    }
  }
   
}


@media (max-width:768px) {
  .card.small-tiles {
    .card-block {
      flex-direction: row;
      display: flex;
      justify-content: center;
      .tile-image {
        margin:0 20px 10px 0;
      }
      .tile-content {
        h3 {
          justify-content: center;
        }
      }
    }
  }
  .card-img-overlay {
    h2 {
      font-size:20px;
    }
  }
}


.card-profile {
  .col-md-4 {
    margin:0;
    width:inherit!important;
    padding-right:10px!important;
    padding-left:10px!important;
    display:flex; 
    flex-direction: column;
    justify-content: space-between;
    a.btn {
      
    }
  }
  .col-md-8 {
    padding-left:10px !important;
    padding-right:10px!important;
  }
  a, a:link, a:visited {
    text-decoration:none;
  }
  .profile-intro {
    border-bottom:1px solid $cloud;
    margin:0 0 15px;
    padding:0 0 10px;
    h3 {
      margin:0 0 5px;
      font-family: 'FFBauWebProMedium';
    }
    label {
      margin:0;
    }
    .ratings-link {
      padding:5px 0 0;
      display:flex;
      justify-content: space-between;
      .ratings {
        font-size:11px;
        line-height:auto;
      }
      a, a:link, a:visited {
        font-size:14px;
      } 
    }
  }
  img {
    width:100% !important;
    height:auto;
  }
  .col-md-4 {
    a {
      display:block;
      clear:both;
    }
  }
  .profile-info {
    font-size:0.875rem;
    address,
    a, a:link, a:visited {
      font-size:0.875rem;
    }
    .phone {
      padding-top:15px;
    }
  }
  
}
.desktop {
  display:block!important;
}
.mobile {
  display:none!important;
}
@media (max-width:900px) {
  .desktop {
    display:none!important;
  }
  .mobile {
    display:block!important;
  }
.card-profile {
  .col-md-4 {
    margin:0 0 20px;
    width:inherit!important;
  }
  .profile-intro {
    padding:0 0 15px;
    min-height:80px;
    border-bottom:1px solid #E2EBEE;
    display:block;
    @include clearfix;
    > div {
      display:block;
      float:left;
      width:calc(100% - 93px);

    }
    img {
      max-width:78px;
      margin:0 15px 0 0 !important;
      width:100%;
      height:auto;
      float:left;
    }                                                                                    
    h3 {
      margin:0 0 5px;
      font-family: 'FFBauWebProMedium';
      font-size:1rem;
    }
    label {
    }
    .ratings-link {
      padding:5px 0;
      clear:both;
      justify-content: space-between;
      flex-direction: column;
      .ratings {
        padding:0 0 5px;
        font-size:11px;
        line-height:auto;
      }
      a, a:link, a:visited {
        font-size:14px;
      } 
    }
  }
  .profile-info {
    padding:0;
    .address {
      border-bottom:1px solid #E2EBEE;
    }
    address {
      color:#00818A;
      position:relative;
      padding:0 0 0 30px;
      max-width:90%;
      background:url(../images/icon-address@2x.png) no-repeat center left;
      background-size:14px 18px;
    }
    .phone {
      position:relative;
      border-bottom:1px solid #E2EBEE;
      padding:15px 0;
      margin:0 0 20px;
      a, a:link, a:visited {
        padding:0 0 0 30px;
        background:url(../images/icon-phone@2x.png) no-repeat center left;
        background-size:14px 22px;
        line-height:22px;
      }
      
    }
    .button-wrap {
      display:block;
      a.btn {
        width:100%;
        text-align:center;
      }
    }

  }
}
}

.card-location {
  @include clearfix;
  a, a:link, a:visited {
    text-decoration:none!important;
  }
  .location-intro {
    border-bottom:1px solid $cloud;
    margin:0 0 15px;
    padding:0 0 10px;
    display: flex;
    h3 {
      margin:0;
      line-height:30px;
    }
    label {
      margin:0;
      line-height:30px;
      .badge {
        float:left;
      }
    }
    .badge {
      margin-right:10px;
    }
  }
  .location-info {
    font-size:0.875rem;
    @include clearfix;
    p {
      font-family: $font-family-base;
      font-size:0.875rem;
    }
    address,
    a, a:link, a:visited {
      font-size:0.875rem;
      line-height:22px;
      font-family: $font-family-base;
    }
    .phone {
      padding-top:15px;
    }

    i {
      color:$primary !important;
    }
  }

  @media (max-width:900px) {

    &.has-footer {
      padding-bottom:0;
      .hours {
        margin-bottom:0;
        border:none;
      }
    }
    .location-intro {
      flex-direction:column;
      h3 {
        line-height:24px;
      }
    }
    .address {
      border-bottom:1px solid #E2EBEE;
    }
    address {
      color:#00818A;
      position:relative;
      padding:0 0 0 30px;
      max-width:90%;
      background:url(../images/icon-address@2x.png) no-repeat center left;
      background-size:14px 18px;
    }
    .phone {
      position:relative;
      border-bottom:1px solid #E2EBEE;
      padding:15px 0;
      margin:0;
      a, a:link, a:visited {
        padding:0 0 0 30px;
        background:url(../images/icon-phone@2x.png) no-repeat center left;
        background-size:14px 22px;
        line-height:22px;
      }
      
    }
    .hours {
      position:relative;
      border-bottom:1px solid #E2EBEE;
      padding:15px 0;
      margin:0 0 20px;
      .hours-list {
        padding:0 0 0 30px;
        background:url(../images/icon-hours@2x.png) no-repeat top left;
        background-size:20px 20px;
        font-size:1rem;
        line-height:22px;
        span.delim {
          color:#E2EBEE;
          font-size:14px;
        }

        .panel-group {
          margin:0;
          .panel-default {
            border:none!important;
            > .panel-heading {
              border:none!important;
              h4 {
                font-weight:normal;
                font-family: $font-family-base;
                color:#515A5E !important;
              }
              a {
                padding:0;
                color:#515A5E !important;
              }
            }
          }
          p {
            font-family: $font-family-base;
          }
        }
      }
      // select:after {
      //     content:"\f0d7";
      //     position: relative;
      //     top: -2px;
      //     display: inline-block;
      //     font-family: 'Font Awesome 5 Free';
      //     font-style: normal;
      //     font-weight: 900;
      //     line-height: 1.375rem;
      //     -webkit-font-smoothing: antialiased;
      //     -moz-osx-font-smoothing: grayscale;
      //     float: right;
      //     transition: transform .25s linear;
      //     -webkit-transition: -webkit-transform .25s linear;
      // }
    }
    .button-wrap {
      display:flex;
      .ratings-link {
        padding:0 0 0 10px;
      }
    }


  } //media

  @media (max-width:700px) {

    &.has-footer {
      padding-bottom:0;
      .hours {
        margin-bottom:0;
        border:none;
      }
    }
    .location-intro {
      flex-direction:column;
      h3 {
        line-height:24px;
      }
    }
    .address {
      border-bottom:1px solid #E2EBEE;
    }
    address {
      color:#00818A;
      position:relative;
      padding:0 0 0 30px;
      max-width:90%;
      background:url(../images/icon-address@2x.png) no-repeat center left;
      background-size:14px 18px;
    }
    .phone {
      position:relative;
      border-bottom:1px solid #E2EBEE;
      padding:15px 0;
      margin:0;
      a, a:link, a:visited {
        padding:0 0 0 30px;
        background:url(../images/icon-phone@2x.png) no-repeat center left;
        background-size:14px 22px;
        line-height:22px;
      }
      
    }
    .hours {
      position:relative;
      border-bottom:1px solid #E2EBEE;
      padding:15px 0;
      margin:0 0 20px;
      .hours-list {
        padding:0 0 0 30px;
        background:url(../images/icon-hours@2x.png) no-repeat top left;
        background-size:20px 20px;
        font-size:1rem;
        line-height:22px;
        span.delim {
          color:#E2EBEE;
          font-size:14px;
        }

        .panel-group {
          margin:0;
          .panel-default {
            border:none!important;
            > .panel-heading {
              border:none!important;
              h4 {
                font-weight:normal;
                font-family: $font-family-base;
                color:#515A5E !important;
              }
              a {
                padding:0;
                color:#515A5E !important;
              }
            }
          }
        }
      }
      // select:after {
      //     content:"\f0d7";
      //     position: relative;
      //     top: -2px;
      //     display: inline-block;
      //     font-family: 'Font Awesome 5 Free';
      //     font-style: normal;
      //     font-weight: 900;
      //     line-height: 1.375rem;
      //     -webkit-font-smoothing: antialiased;
      //     -moz-osx-font-smoothing: grayscale;
      //     float: right;
      //     transition: transform .25s linear;
      //     -webkit-transition: -webkit-transform .25s linear;
      // }
    }
    .button-wrap {
      display:flex;
      .ratings-link {
        padding:0 0 0 10px;
      }
    }


  } //media


}

.card-footer {
  label {
    float:right;
  }
  i.fa {
    color:#00818A;
  }
}


@media (max-width:900px) {
  .card-footer {
    z-index: 3;
    border-top:1px solid #B2D9DC;
    label {
      float:none;
    }
  }
}

.card-horizontal-article {
  p {
    font-size:0.875rem !important;
    a, a:link, a:visited {
      font-size:0.875rem !important;
      color:$charcoal;
      text-decoration:underline;
    }
  }
  span {
    font-family: $font-family-base;
    font-size:12px;
  }
  .article-thumb {
    width:175px;
    float:right;
    img.card-img {
      margin-bottom:0;
    }
  }
  .article-info {
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    .text-flex {
     h4 {
       margin:5px 0;
       a, a:link, a:visited {
         text-decoration:none!important;
       }
     } 
    }
  }
  @media (max-width:900px) {
    .card-block {
      display:flex;
      justify-content: center;
      align-items: center;
      .article-thumb {
        order:2;
        float:none;
        img {
          width:100%;
          max-width:175px;
          height:auto;
        }
      }
      .article-info {
        order: 1;
        float:none;
      }
    }
  }
  @media (max-width:767px) {
    .card-block {
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .article-thumb {
        order:1;
        width:100%;
        float:none;
        img {
          width:100%;
          max-width:100%;
          height:auto;
          margin:0 auto;
        }
      }
      .article-info {
        order:2;
        width:100%;
        float:none;
      }
    }
  }
}


.card.text-white {
  a.btn-outline-white, a.btn-outline-white:link, a.btn-outline-white:visited {
    &:hover {
    }
  }
  &.bg-blue {
    a.btn, a.btn:link, a.btn:visited {
      &:hover {
        background-color:darken($blue, 10%) !important;
      }
    }
  }
  &.bg-primary {
    a.btn, a.btn:link, a.btn:visited {
      &:hover {
        background-color:darken($primary, 10%) !important;
      }
    }
  }
  &.bg-red {
    a.btn, a.btn:link, a.btn:visited {
      &:hover {
        background-color:darken($red, 10%) !important;
      }
    }
  }
  &.bg-yellow {
    a.btn, a.btn:link, a.btn:visited {
      &:hover {
        background-color:darken($yellow, 10%) !important;
      }
    }
  }
  &.bg-orange {
    a.btn, a.btn:link, a.btn:visited {
      &:hover {
        background-color:darken($orange, 10%) !important;
      }
    }
  }
}