.jumbotron {
  padding: 0.9375rem;
  margin-bottom: $jumbotron-padding;
  background-color: $jumbotron-bg;
  @include border-radius($border-radius-lg);

  @include media-breakpoint-up(sm) {
    padding: $jumbotron-padding;
  }
  p {
    font-family: $font-family-base !important;
    font-size:0.875rem;
    line-height:1.25rem;
  }
  .d-flex {
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    @media (max-width:991px) {
      flex-direction: column;

      .jumbotron-image {
        margin:0 0 25px;
        width:100%;
        img {
          max-width:100%;
          width:100%;
        }
      }

    }
    
  }
  .jumbotron-content {
    justify-content: center;
    align-items: center;
    padding-right:0;
    @include media-breakpoint-up(sm) {
      padding-right:3rem;
    }
  }

}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  @include border-radius(0);
}
