// Base class
//
// Easily usable on <ul>, <ol>, or <div>.

.list-group {
  display: flex;
  flex-direction: column;

  // No need to set list-style: none; since .list-group-item is block level
  padding-left: 0; // reset padding because ul and ol
  margin-bottom: 0;
  

  //
  .sub-list & {


  }
  &.numbered {
    list-style-type: none;
    li {
      counter-increment: step-counter;
      &:before {
        content: counter(step-counter);
        margin-right: 10px;
        font-size: 80%;
        width:24px;
        height:24px;
        line-height:26px;
        background-color:$white;
        color:$charcoal;
        padding: 0;
        display:inline-block;
        text-align:center;
        font-family:$font-family-base;
        border:1px solid $cloud;
        border-radius: 50%;
        -webkit-border-radius:50%;
      }
    }
  }
  &.bulleted {
    list-style-type: none;
    li {
      padding-left:calc(0.25rem + 15px);
      &:before {
        content: '';
        width:4px;
        height:4px;
        background-color:$charcoal;
        color:$charcoal;
        padding: 0;
        display:inline-block;
        text-align:center;
        font-family:$font-family-base;
        border-radius: 50%;
        -webkit-border-radius:50%;
        position:absolute;
        top:calc(50% - 2px);
        left:0.25rem;
      }
      //Has nested group
      &.sub-list {
        &:before {
          top:20px;
        }
        padding-bottom:0;
        border-bottom:none;
        ul {
          width: calc(100% + 1.5rem + 15px);
          margin-left: calc(-0.25rem - 15px);
          padding-top:0.75rem;
          li {
            border-radius:0;
            -webkit-border-radius:0;
            border-color:$light-cloud;
            padding-left:calc(1rem + 15px);
            &:before {
              left:1rem;
            }
            &:first-child {
              border-top:1px solid $cloud;
            }
          }
        }
      }
    }
  }
}


// Interactive list items
//
// Use anchor or button elements instead of `li`s or `div`s to create interactive
// list items. Includes an extra `.active` modifier class for selected items.

.list-group-item-action {
  width: 100%; // For `<button>`s (anchors become 100% by default though)
  color: $list-group-action-color;
  text-align: inherit; // For `<button>`s (anchors inherit)

  // Hover state
  @include hover-focus {
    color: $list-group-action-hover-color;
    text-decoration: none;
    background-color: $list-group-hover-bg;
  }

  &:active {
    color: $list-group-action-active-color;
    background-color: $list-group-action-active-bg;
  }
}


// Individual list items
//
// Use on `li`s or `div`s within the `.list-group` parent.

.list-group-item {
  position: relative;
  display: block;
  padding: $list-group-item-padding-y $list-group-item-padding-x;
  // Place the border on the list items and negative margin up for better styling
  margin-bottom: -$list-group-border-width;
  background-color: $list-group-bg;
  border: $list-group-border-width solid $list-group-border-color;
  border-left:none;
  border-right:none;
  text-align:left;
  font-size: 1rem;
  font-family: 'Chronicle-Text-G1';

  *:last-child {
    margin-bottom:0;
  }
  &:first-child {
    @include border-top-radius($list-group-border-radius);
  }

  &:last-child {
    margin-bottom: 0;
    @include border-bottom-radius($list-group-border-radius);
  }

  @include hover-focus {
    z-index: 1; // Place hover/active items above their siblings for proper border styling
    text-decoration: none;
  }

  &.disabled,
  &:disabled {
    color: $list-group-disabled-color;
    background-color: $list-group-disabled-bg;
  }

  // Include both here for `<a>`s and `<button>`s
  &.active {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
    border-color: $list-group-active-border-color;
  }

  label {
    width:100%;
    display:block;
    position:relative;
  }
}


// Flush list items
//
// Remove borders and border-radius to keep list group items edge-to-edge. Most
// useful within other components (e.g., cards).

.list-group-flush {
  .list-group-item {
    border-right: 0;
    border-left: 0;
    @include border-radius(0);
  }

  &:first-child {
    .list-group-item:first-child {
      border-top: 0;
    }
  }

  &:last-child {
    .list-group-item:last-child {
      border-bottom: 0;
    }
  }
}


// Contextual variants
//
// Add modifier classes to change text and background color on individual items.
// Organizationally, this must come after the `:hover` states.

@each $color, $value in $theme-colors {
  @include list-group-item-variant($color, theme-color-level($color, -9), theme-color-level($color, 6));
}
