// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//

$white:    #fff !default;
$lighter-cloud: #F4F8F9 !default;
$light-cloud: #E2EBEE !default;
$cloud: #C6D2D7 !default;
$dark-cloud: #ACBABF !default;

$lighter-charcoal: #656F75 !default;
$light-charcoal: #515A5E !default;
$charcoal: #373E41 !default;
$dark-charcoal: #1F2325 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $lighter-cloud,
    "200": $light-cloud,
    "300": $cloud,
    "400": $dark-cloud,
    "500": $lighter-charcoal,
    "600": $light-charcoal,
    "700": $charcoal,
    "800": $dark-charcoal
  ),
  $grays
);


$blue:    #004A98 !default;
$red:     #E32931 !default;
$orange:  #FF7F31 !default;
$yellow:  #F0C300 !default;
$green:   #00BC70 !default;


$cyan:    #17a2b8 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;

$teal:    #00818A !default;
$lighter-teal:    #E4F0F2 !default;
$light-teal:    #B2D9DC !default;
$dark-teal:    #007078 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $cloud,
    "gray-dark":  $charcoal,
    "lighter-teal":  $lighter-teal,
    "light-teal":  $light-teal,
    "dark-teal":  $dark-teal
  ),
  $colors
);

$primary:       $teal !default;
$secondary:     $light-charcoal !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $lighter-cloud !default;
$dark:          $dark-charcoal !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "teal":       $teal,
    "blue":       $blue,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "white":      $white
  ),
  $theme-colors
);

// Set a specific jump point for requesting color jumps
$theme-color-interval:      8% !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $dark-charcoal !default;
$yiq-text-light:            $white !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:              true !default;
$enable-rounded:            true !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        true !default;
$enable-hover-media-query:  false !default; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

// Body
//
// Settings for the `<body>` element.

$body-bg:                   #F4F8F9 !default;
$body-color:                $dark-charcoal !default;

// Links
//
// Style anchor elements.

$link-color:                theme-color("primary") !default;
$link-decoration:           underline !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     underline !default;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   1rem !default;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;

// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;

$border-width:                1px !default;
$border-color:                $cloud !default;

$border-radius:               5px !default;
$border-radius-lg:            5px !default;
$border-radius-sm:            5px !default;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;

$component-active-color:      $white !default;
$component-active-bg:         theme-color("primary") !default;

$caret-width:                 .3em !default;

$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;


// Fonts
//
// Font, line-height, and color for body text, headings, and more.
//

  
@font-face {font-family: 'FFBauWebProBoldItalic';src: url('/fonts/374EAE_0_0.eot');src: url('/fonts/374EAE_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/374EAE_0_0.woff2') format('woff2'),url('/fonts/374EAE_0_0.woff') format('woff'),url('/fonts/374EAE_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'FFBauWebProMedium';src: url('/fonts/374EAE_1_0.eot');src: url('/fonts/374EAE_1_0.eot?#iefix') format('embedded-opentype'),url('/fonts/374EAE_1_0.woff2') format('woff2'),url('/fonts/374EAE_1_0.woff') format('woff'),url('/fonts/374EAE_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'FFBauWebProMediumItalic';src: url('/fonts/374EAE_2_0.eot');src: url('/fonts/374EAE_2_0.eot?#iefix') format('embedded-opentype'),url('/fonts/374EAE_2_0.woff2') format('woff2'),url('/fonts/374EAE_2_0.woff') format('woff'),url('/fonts/374EAE_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'FFBauWebProRegularItalic';src: url('/fonts/374EAE_3_0.eot');src: url('/fonts/374EAE_3_0.eot?#iefix') format('embedded-opentype'),url('/fonts/374EAE_3_0.woff2') format('woff2'),url('/fonts/374EAE_3_0.woff') format('woff'),url('/fonts/374EAE_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'FFBauWebProSuper';src: url('/fonts/374EAE_4_0.eot');src: url('/fonts/374EAE_4_0.eot?#iefix') format('embedded-opentype'),url('/fonts/374EAE_4_0.woff2') format('woff2'),url('/fonts/374EAE_4_0.woff') format('woff'),url('/fonts/374EAE_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'FFBauWebProSuperItalic';src: url('/fonts/374EAE_5_0.eot');src: url('/fonts/374EAE_5_0.eot?#iefix') format('embedded-opentype'),url('/fonts/374EAE_5_0.woff2') format('woff2'),url('/fonts/374EAE_5_0.woff') format('woff'),url('/fonts/374EAE_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'FFBauWebProRegular';src: url('/fonts/374EAE_6_0.eot');src: url('/fonts/374EAE_6_0.eot?#iefix') format('embedded-opentype'),url('/fonts/374EAE_6_0.woff2') format('woff2'),url('/fonts/374EAE_6_0.woff') format('woff'),url('/fonts/374EAE_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'FFBauWebProBold';src: url('/fonts/374EAE_7_0.eot');src: url('/fonts/374EAE_7_0.eot?#iefix') format('embedded-opentype'),url('/fonts/374EAE_7_0.woff2') format('woff2'),url('/fonts/374EAE_7_0.woff') format('woff'),url('/fonts/374EAE_7_0.ttf') format('truetype');}

@font-face {font-family: 'ChronicleTextG2-Roman-Pro';src: url('/fonts/ChronicleTextG2-Roman-Pro.eot');src: url('/fonts/ChronicleTextG2-Roman-Pro.eot?#iefix') format('embedded-opentype'),url('/fonts/ChronicleTextG2-Roman-Pro.woff2') format('woff2'),url('/fonts/ChronicleTextG2-Roman-Pro.woff') format('woff'),url('/fonts/ChronicleTextG2-Roman-Pro.ttf') format('truetype');}

@font-face {
	font-family: "Chronicle-Text-G1";
  src: 
    //url("/fonts/bau-regular.eot?") format("eot"),
		// url("fonts/regular.woff2") format("woff2"),
		 url("/fonts/Chronicle-Text-G1-Web.woff") format("woff")
		 //url("/fonts/bau-regular.ttf") format("truetype"),
		 //url("/fonts/bau-regular.svg#bau-regular") format("svg");
}

//"Chronicle Text G2 A", "Chronicle Text G2 B"

// stylelint-disable value-keyword-case
$font-family-sans-serif:      'FFBauWebProRegular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;
// stylelint-enable value-keyword-case

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * .8125) !default;
$font-size-sm:                ($font-size-base * .8125) !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.375 !default;

$h1-font-size:                $font-size-base * 2.25 !default;
$h2-font-size:                $font-size-base * 1.625 !default;
$h3-font-size:                $font-size-base * 1.125 !default;
$h4-font-size:                $font-size-base * 1 !default;
$h5-font-size:                $font-size-base * 0.9375 !default;
$h6-font-size:                $font-size-base !default;

$headings-margin-bottom:      15px !default;
$headings-font-family:        inherit !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              inherit !default;

$display1-size:               6rem !default;
$display2-size:               5.5rem !default;
$display3-size:               4.5rem !default;
$display4-size:               3.5rem !default;

$display1-weight:             300 !default;
$display2-weight:             300 !default;
$display3-weight:             300 !default;
$display4-weight:             300 !default;
$display-line-height:         $headings-line-height !default;

$lead-font-size:              ($font-size-base * 1.25) !default;
$lead-font-weight:            300 !default;

$small-font-size:             80% !default;

$text-muted:                  $lighter-charcoal !default;

$blockquote-small-color:      $light-charcoal !default;
$blockquote-font-size:        ($font-size-base * 1.25) !default;

$hr-border-color:             rgba($black, .1) !default;
$hr-border-width:             $border-width !default;

$mark-padding:                .2em !default;

$dt-font-weight:              $font-weight-bold !default;

$kbd-box-shadow:              inset 0 -.1rem 0 rgba($black, .25) !default;
$nested-kbd-font-weight:      $font-weight-bold !default;

$list-inline-padding:         .5rem !default;

$mark-bg:                     #fcf8e3 !default;

$hr-margin-y:                 $spacer !default;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding:          .75rem !default;
$table-cell-padding-sm:       .3rem !default;

$table-bg:                    transparent !default;
$table-accent-bg:             #F4F8F9 !default;
$table-hover-bg:              #B2D9DC !default;
$table-active-bg:             $table-hover-bg !default;

$table-border-width:          $border-width !default;
$table-border-color:          $cloud !default;

$table-head-bg:               $light-cloud !default;
$table-head-color:            $charcoal !default;

$table-dark-bg:               $dark-charcoal !default;
$table-dark-accent-bg:        rgba($white, .05) !default;
$table-dark-hover-bg:         rgba($white, .075) !default;
$table-dark-border-color:     lighten($dark-charcoal, 7.5%) !default;
$table-dark-color:            $body-bg !default;

$table-striped-order:         odd !default;

$table-caption-color:         $text-muted !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y:         0.825rem !default;
$input-btn-padding-x:         2.125rem !default;
$input-btn-line-height:       $line-height-base !default;

$input-btn-focus-width:       .2rem !default;
$input-btn-focus-color:       rgba($component-active-bg, .25) !default;
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

$input-btn-padding-y-sm:      0.625rem !default;
$input-btn-padding-x-sm:      2rem !default;
$input-btn-line-height-sm:    $line-height-sm !default;

$input-btn-padding-y-lg:      0.9065rem !default;
$input-btn-padding-x-lg:      3.75rem !default;
$input-btn-line-height-lg:    $line-height-lg !default;

$input-btn-border-width:      $border-width !default;


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y:               $input-btn-padding-y !default;
$btn-padding-x:               $input-btn-padding-x !default;
$btn-line-height:             $input-btn-line-height !default;

$btn-padding-y-sm:            $input-btn-padding-y-sm !default;
$btn-padding-x-sm:            $input-btn-padding-x-sm !default;
$btn-line-height-sm:          $input-btn-line-height-sm !default;

$btn-padding-y-lg:            $input-btn-padding-y-lg !default;
$btn-padding-x-lg:            $input-btn-padding-x-lg !default;
$btn-line-height-lg:          $input-btn-line-height-lg !default;

$btn-border-width:            $input-btn-border-width !default;

$btn-font-weight:             $font-weight-normal !default;
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-focus-width:             $input-btn-focus-width !default;
$btn-focus-box-shadow:        $input-btn-focus-box-shadow !default;
$btn-disabled-opacity:        1 !default;
$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125) !default;

$btn-link-disabled-color:     $light-charcoal !default;

$btn-block-spacing-y:         .5rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           $border-radius !default;
$btn-border-radius-lg:        $border-radius-lg !default;
$btn-border-radius-sm:        $border-radius-sm !default;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;


// Forms

$label-margin-bottom:                   .5rem !default;

$input-padding-y:                       0.9375rem !default;
$input-padding-x:                       0.9375rem !default;
$input-line-height:                     0.875rem !default;

$input-padding-y-sm:                    0.9375rem !default;
$input-padding-x-sm:                    0.9375rem !default;
$input-line-height-sm:                  0.875rem !default;

$input-padding-y-lg:                    0.9375rem !default;
$input-padding-x-lg:                    0.9375rem !default;
$input-line-height-lg:                  0.875rem !default;

$input-bg:                              $white !default;
$input-disabled-bg:                     $light-cloud !default;

$input-color:                           $lighter-charcoal !default;
$input-border-color:                    $cloud !default;
$input-border-width:                    $input-btn-border-width !default;
$input-box-shadow:                      inset 0 1px 1px rgba($black, 0.15) !default;

$input-border-radius:                   $border-radius !default;
$input-border-radius-lg:                $border-radius-lg !default;
$input-border-radius-sm:                $border-radius-sm !default;

$input-focus-bg:                        $input-bg !default;
$input-focus-border-color:              $component-active-bg !default;
$input-focus-color:                     $input-color !default;
$input-focus-width:                     $input-btn-focus-width !default;
$input-focus-box-shadow:                $input-btn-focus-box-shadow !default;

$input-placeholder-color:               $light-charcoal !default;
$input-plaintext-color:                 $body-color !default;

$input-height-border:                   $input-border-width * 2 !default;

$input-height-inner:                    (0.875rem) + ($input-padding-y * 2) !default;
$input-height:                          calc(#{$input-height-inner} + #{$input-height-border}) !default;

$input-height-inner-sm:                 ($font-size-sm * $input-btn-line-height-sm) + ($input-btn-padding-y-sm * 2) !default;
$input-height-sm:                       calc(#{$input-height-inner-sm} + #{$input-height-border}) !default;

$input-height-inner-lg:                 ($font-size-lg * $input-btn-line-height-lg) + ($input-btn-padding-y-lg * 2) !default;
$input-height-lg:                       calc(#{$input-height-inner-lg} + #{$input-height-border}) !default;

$input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

$form-text-margin-top:                  .25rem !default;

$form-check-input-gutter:               1.25rem !default;
$form-check-input-margin-y:             .3rem !default;
$form-check-input-margin-x:             .25rem !default;

$form-check-inline-margin-x:            .75rem !default;
$form-check-inline-input-margin-x:      .3125rem !default;

$form-group-margin-bottom:              1.25rem !default;

$input-group-addon-color:               $input-color !default;
$input-group-addon-bg:                  $light-cloud !default;
$input-group-addon-border-color:        $input-border-color !default;

$custom-forms-transition:               background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

$custom-control-gutter:                 1.5rem !default;
$custom-control-spacer-x:               1rem !default;

$custom-control-indicator-size:         1rem !default;
$custom-control-indicator-bg:           $cloud !default;
$custom-control-indicator-bg-size:      50% 50% !default;
$custom-control-indicator-box-shadow:   inset 0 .25rem .25rem rgba($black, .1) !default;

$custom-control-indicator-disabled-bg:          $light-cloud !default;
$custom-control-label-disabled-color:           $light-charcoal !default;

$custom-control-indicator-checked-color:        $component-active-color !default;
$custom-control-indicator-checked-bg:           $component-active-bg !default;
$custom-control-indicator-checked-disabled-bg:  rgba(theme-color("primary"), .5) !default;
$custom-control-indicator-checked-box-shadow:   none !default;

$custom-control-indicator-focus-box-shadow:     0 0 0 1px $body-bg, $input-btn-focus-box-shadow !default;

$custom-control-indicator-active-color:         $component-active-color !default;
$custom-control-indicator-active-bg:            $component-active-bg !default;
$custom-control-indicator-active-box-shadow:    none !default;

$custom-checkbox-indicator-border-radius:       $border-radius !default;
$custom-checkbox-indicator-icon-checked:        str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{$custom-control-indicator-checked-color}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"), "#", "%23") !default;

$custom-checkbox-indicator-indeterminate-bg:          $component-active-bg !default;
$custom-checkbox-indicator-indeterminate-color:       $custom-control-indicator-checked-color !default;
$custom-checkbox-indicator-icon-indeterminate:        str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='#{$custom-checkbox-indicator-indeterminate-color}' d='M0 2h4'/%3E%3C/svg%3E"), "#", "%23") !default;
$custom-checkbox-indicator-indeterminate-box-shadow:  none !default;

$custom-radio-indicator-border-radius:          50% !default;
$custom-radio-indicator-icon-checked:           str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='#{$custom-control-indicator-checked-color}'/%3E%3C/svg%3E"), "#", "%23") !default;

$custom-select-padding-y:           .375rem !default;
$custom-select-padding-x:           .75rem !default;
$custom-select-height:              $input-height !default;
$custom-select-indicator-padding:   1rem !default; // Extra padding to account for the presence of the background-image based indicator
$custom-select-line-height:         $input-btn-line-height !default;
$custom-select-color:               $input-color !default;
$custom-select-disabled-color:      $light-charcoal !default;
$custom-select-bg:                  $input-bg !default;
$custom-select-disabled-bg:         $light-cloud !default;
$custom-select-bg-size:             8px 10px !default; // In pixels because image dimensions
$custom-select-indicator-color:     $dark-charcoal !default;
$custom-select-indicator:           str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#{$custom-select-indicator-color}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E"), "#", "%23") !default;
$custom-select-border-width:        $input-btn-border-width !default;
$custom-select-border-color:        $input-border-color !default;
$custom-select-border-radius:       $border-radius !default;
$custom-select-box-shadow:          inset 0 1px 2px rgba($black, .075) !default;

$custom-select-focus-border-color:  $input-focus-border-color !default;
$custom-select-focus-width:         $input-btn-focus-width !default;
$custom-select-focus-box-shadow:    0 0 0 $custom-select-focus-width rgba($custom-select-focus-border-color, .5) !default;

$custom-select-font-size-sm:        75% !default;
$custom-select-height-sm:           $input-height-sm !default;

$custom-select-font-size-lg:        125% !default;
$custom-select-height-lg:           $input-height-lg !default;

$custom-range-track-width:          100% !default;
$custom-range-track-height:         .5rem !default;
$custom-range-track-cursor:         pointer !default;
$custom-range-track-bg:             $cloud !default;
$custom-range-track-border-radius:  1rem !default;
$custom-range-track-box-shadow:     inset 0 .25rem .25rem rgba($black, .1) !default;

$custom-range-thumb-width:                   1rem !default;
$custom-range-thumb-height:                  $custom-range-thumb-width !default;
$custom-range-thumb-bg:                      $component-active-bg !default;
$custom-range-thumb-border:                  0 !default;
$custom-range-thumb-border-radius:           1rem !default;
$custom-range-thumb-box-shadow:              0 .1rem .25rem rgba($black, .1) !default;
$custom-range-thumb-focus-box-shadow:        0 0 0 1px $body-bg, $input-btn-focus-box-shadow !default;
$custom-range-thumb-focus-box-shadow-width:  $input-btn-focus-width !default; // For focus box shadow issue in IE/Edge
$custom-range-thumb-active-bg:               lighten($component-active-bg, 35%) !default;

$custom-file-height:                $input-height !default;
$custom-file-height-inner:          $input-height-inner !default;
$custom-file-focus-border-color:    $input-focus-border-color !default;
$custom-file-focus-box-shadow:      $input-btn-focus-box-shadow !default;
$custom-file-disabled-bg:           $input-disabled-bg !default;

$custom-file-padding-y:             $input-btn-padding-y !default;
$custom-file-padding-x:             $input-btn-padding-x !default;
$custom-file-line-height:           $input-btn-line-height !default;
$custom-file-color:                 $input-color !default;
$custom-file-bg:                    $input-bg !default;
$custom-file-border-width:          $input-btn-border-width !default;
$custom-file-border-color:          $input-border-color !default;
$custom-file-border-radius:         $input-border-radius !default;
$custom-file-box-shadow:            $input-box-shadow !default;
$custom-file-button-color:          $custom-file-color !default;
$custom-file-button-bg:             $input-group-addon-bg !default;
$custom-file-text: (
  en: "Browse"
) !default;


// Form validation
$form-feedback-margin-top:          $form-text-margin-top !default;
$form-feedback-font-size:           $small-font-size !default;
$form-feedback-valid-color:         theme-color("success") !default;
$form-feedback-invalid-color:       theme-color("danger") !default;


// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width:                10rem !default;
$dropdown-padding-y:                .5rem !default;
$dropdown-spacer:                   .125rem !default;
$dropdown-bg:                       $white !default;
$dropdown-border-color:             rgba($black, .15) !default;
$dropdown-border-radius:            $border-radius !default;
$dropdown-border-width:             $border-width !default;
$dropdown-divider-bg:               $light-cloud !default;
$dropdown-box-shadow:               0 .5rem 1rem rgba($black, .175) !default;

$dropdown-link-color:               $dark-charcoal !default;
$dropdown-link-hover-color:         darken($dark-charcoal, 5%) !default;
$dropdown-link-hover-bg:            $lighter-cloud !default;

$dropdown-link-active-color:        $component-active-color !default;
$dropdown-link-active-bg:           $component-active-bg !default;

$dropdown-link-disabled-color:      $light-charcoal !default;

$dropdown-item-padding-y:           .25rem !default;
$dropdown-item-padding-x:           1.5rem !default;

$dropdown-header-color:             $light-charcoal !default;


// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown:                   1000 !default;
$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;
$zindex-modal-backdrop:             1040 !default;
$zindex-modal:                      1050 !default;
$zindex-popover:                    1060 !default;
$zindex-tooltip:                    1070 !default;

// Navs

$nav-link-padding-y:                1.125rem !default;
$nav-link-padding-x:                3rem !default;
$nav-link-disabled-color:           $light-charcoal !default;

$nav-tabs-border-color:             $cloud !default;
$nav-tabs-border-width:             $border-width !default;
$nav-tabs-border-radius:            $border-radius !default;
$nav-tabs-link-hover-border-color:  $light-cloud $light-cloud $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $primary !default;
$nav-tabs-link-active-bg:           $body-bg !default;
$nav-tabs-link-active-border-color: $cloud $cloud $nav-tabs-link-active-bg !default;

$nav-pills-border-radius:           $border-radius !default;
$nav-pills-link-active-color:       $component-active-color !default;
$nav-pills-link-active-bg:          $component-active-bg !default;

$nav-divider-color:                 $cloud !default;
$nav-divider-margin-y:              ($spacer / 2) !default;

// Navbar

$navbar-padding-y:                  ($spacer / 2) !default;
$navbar-padding-x:                  $spacer !default;

$navbar-nav-link-padding-x:         .5rem !default;

$navbar-brand-font-size:            $font-size-lg !default;
// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
$nav-link-height:                   ($font-size-base * $line-height-base + $nav-link-padding-y * 2) !default;
$navbar-brand-height:               $navbar-brand-font-size * $line-height-base !default;
$navbar-brand-padding-y:            ($nav-link-height - $navbar-brand-height) / 2 !default;

$navbar-toggler-padding-y:          .25rem !default;
$navbar-toggler-padding-x:          .75rem !default;
$navbar-toggler-font-size:          $font-size-lg !default;
$navbar-toggler-border-radius:      $btn-border-radius !default;

$navbar-dark-color:                 rgba($white, .5) !default;
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;
$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-dark-toggler-border-color:  rgba($white, .1) !default;

$navbar-light-color:                rgba($black, .5) !default;
$navbar-light-hover-color:          rgba($black, .7) !default;
$navbar-light-active-color:         rgba($black, .9) !default;
$navbar-light-disabled-color:       rgba($black, .3) !default;
$navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-light-toggler-border-color: rgba($black, .1) !default;

// Pagination

$pagination-padding-y:              .625rem !default;
$pagination-padding-x:              .75rem !default;
$pagination-padding-y-sm:           .25rem !default;
$pagination-padding-x-sm:           .625rem !default;
$pagination-padding-y-lg:           .75rem !default;
$pagination-padding-x-lg:           1.5rem !default;
$pagination-line-height:            1.375rem !default;

$pagination-color:                  $link-color !default;
$pagination-bg:                     $white !default;
$pagination-border-width:           $border-width !default;
$pagination-border-color:           $cloud !default;

$pagination-focus-box-shadow:       $input-btn-focus-box-shadow !default;
$pagination-focus-outline:          0 !default;

$pagination-hover-color:            $link-hover-color !default;
$pagination-hover-bg:               $light-cloud !default;
$pagination-hover-border-color:     $cloud !default;

$pagination-active-color:           $component-active-color !default;
$pagination-active-bg:              $component-active-bg !default;
$pagination-active-border-color:    $pagination-active-bg !default;

$pagination-disabled-color:         $light-charcoal !default;
$pagination-disabled-bg:            $white !default;
$pagination-disabled-border-color:  $cloud !default;


// Jumbotron

$jumbotron-padding:                 2rem !default;
$jumbotron-bg:                      $light-cloud !default;


// Cards

$card-spacer-y:                     .75rem !default;
$card-spacer-x:                     1.25rem !default;
$card-border-width:                 $border-width !default;
$card-border-radius:                $border-radius !default;
$card-border-color:                 $light-cloud !default;
$card-inner-border-radius:          calc(#{$card-border-radius} - #{$card-border-width}) !default;
$card-cap-bg:                       $lighter-teal !default;
$card-bg:                           $white !default;

$card-img-overlay-padding:          1.25rem !default;

$card-group-margin:                 ($grid-gutter-width / 2) !default;
$card-deck-margin:                  $card-group-margin !default;

$card-columns-count:                3 !default;
$card-columns-gap:                  1.25rem !default;
$card-columns-margin:               $card-spacer-y !default;


// Tooltips

$tooltip-font-size:                 $font-size-sm !default;
$tooltip-max-width:                 200px !default;
$tooltip-color:                     $white !default;
$tooltip-bg:                        $primary !default;
$tooltip-border-radius:             $border-radius !default;
$tooltip-opacity:                   1 !default;
$tooltip-padding-y:                 .25rem !default;
$tooltip-padding-x:                 .5rem !default;
$tooltip-margin:                    0 !default;

$tooltip-arrow-width:               .8rem !default;
$tooltip-arrow-height:              .4rem !default;
$tooltip-arrow-color:               $tooltip-bg !default;


// Popovers

$popover-font-size:                 $font-size-sm !default;
$popover-bg:                        $white !default;
$popover-max-width:                 276px !default;
$popover-border-width:              $border-width !default;
$popover-border-color:              $cloud !default;
$popover-border-radius:             $border-radius-lg !default;
$popover-box-shadow:                0 .25rem .5rem rgba($black, .2) !default;

$popover-header-bg:                 $lighter-teal !default;
$popover-header-color:              $headings-color !default;
$popover-header-padding-y:          .75rem !default;
$popover-header-padding-x:          .75rem !default;

$popover-body-color:                $body-color !default;
$popover-body-padding-y:            $popover-header-padding-y !default;
$popover-body-padding-x:            $popover-header-padding-x !default;

$popover-arrow-width:               1rem !default;
$popover-arrow-height:              .5rem !default;
$popover-arrow-color:               $popover-bg !default;

$popover-arrow-outer-color:         fade-in($popover-border-color, .05) !default;


// Badges

$badge-font-size:                   75% !default;
$badge-font-weight:                 $font-weight-bold !default;
$badge-padding-y:                   .25em !default;
$badge-padding-x:                   .4em !default;
$badge-border-radius:               $border-radius !default;

$badge-pill-padding-x:              .6em !default;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
$badge-pill-border-radius:          10rem !default;


// Modals

// Padding applied to the modal body
$modal-inner-padding:               1rem !default;

$modal-dialog-margin:               .5rem !default;
$modal-dialog-margin-y-sm-up:       1.75rem !default;

$modal-title-line-height:           $line-height-base !default;

$modal-content-bg:                  $white !default;
$modal-content-border-color:        rgba($black, .2) !default;
$modal-content-border-width:        $border-width !default;
$modal-content-border-radius:       $border-radius-lg !default;
$modal-content-box-shadow-xs:       0 .25rem .5rem rgba($black, .5) !default;
$modal-content-box-shadow-sm-up:    0 .5rem 1rem rgba($black, .5) !default;

$modal-backdrop-bg:                 $black !default;
$modal-backdrop-opacity:            .5 !default;
$modal-header-border-color:         $light-cloud !default;
$modal-footer-border-color:         $modal-header-border-color !default;
$modal-header-border-width:         $modal-content-border-width !default;
$modal-footer-border-width:         $modal-header-border-width !default;
$modal-header-padding:              1rem !default;

$modal-lg:                          600px !default;
$modal-md:                          600px !default;
$modal-sm:                          300px !default;

$modal-transition:                  transform .3s ease-out !default;


// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y:                   1.875rem !default;
$alert-padding-x:                   1.875rem !default;
$alert-margin-bottom:               1rem !default;
$alert-border-radius:               $border-radius !default;
$alert-link-font-weight:            $font-weight-bold !default;
$alert-border-width:                $border-width !default;

$alert-bg-level:                    1 !default;
$alert-border-level:                -9 !default;
$alert-color-level:                 8 !default;


// Progress bars

$progress-height:                   1rem !default;
$progress-font-size:                ($font-size-base * .75) !default;
$progress-bg:                       $light-cloud !default;
$progress-border-radius:            $border-radius !default;
$progress-box-shadow:               inset 0 .1rem .1rem rgba($black, .1) !default;
$progress-bar-color:                $white !default;
$progress-bar-bg:                   theme-color("primary") !default;
$progress-bar-animation-timing:     1s linear infinite !default;
$progress-bar-transition:           width .6s ease !default;

// List group

$list-group-bg:                     $white !default;
$list-group-border-color:           rgba($black, .125) !default;
$list-group-border-width:           $border-width !default;
$list-group-border-radius:          $border-radius !default;

$list-group-item-padding-y:         .75rem !default;
$list-group-item-padding-x:         1.25rem !default;

$list-group-hover-bg:               $lighter-cloud !default;
$list-group-active-color:           $component-active-color !default;
$list-group-active-bg:              $component-active-bg !default;
$list-group-active-border-color:    $list-group-active-bg !default;

$list-group-disabled-color:         $light-charcoal !default;
$list-group-disabled-bg:            $list-group-bg !default;

$list-group-action-color:           $charcoal !default;
$list-group-action-hover-color:     $list-group-action-color !default;

$list-group-action-active-color:    $body-color !default;
$list-group-action-active-bg:       $light-cloud !default;


// Image thumbnails

$thumbnail-padding:                 .25rem !default;
$thumbnail-bg:                      $body-bg !default;
$thumbnail-border-width:            $border-width !default;
$thumbnail-border-color:            $cloud !default;
$thumbnail-border-radius:           $border-radius !default;
$thumbnail-box-shadow:              0 1px 2px rgba($black, .075) !default;


// Figures

$figure-caption-font-size:          90% !default;
$figure-caption-color:              $light-charcoal !default;


// Breadcrumbs

$breadcrumb-padding-y:              .75rem !default;
$breadcrumb-padding-x:              1rem !default;
$breadcrumb-item-padding:           .5rem !default;

$breadcrumb-margin-bottom:          1rem !default;

$breadcrumb-bg:                     transparent !default;
$breadcrumb-divider-color:          $light-charcoal !default;
$breadcrumb-active-color:           $light-charcoal !default;
$breadcrumb-divider:                quote(">") !default;

$breadcrumb-border-radius:          $border-radius !default;


// Carousel

$carousel-control-color:            $white !default;
$carousel-control-width:            4% !default;
$carousel-control-opacity:          .5 !default;

$carousel-indicator-width:          60px !default;
$carousel-indicator-height:         4px !default;
$carousel-indicator-spacer:         2.5px !default;
$carousel-indicator-active-bg:      $yellow !default;

$carousel-caption-width:            92% !default;
$carousel-caption-color:            $white !default;

$carousel-control-icon-width:       20px !default;

$carousel-control-prev-icon-bg:     str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"), "#", "%23") !default;
$carousel-control-next-icon-bg:     str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"), "#", "%23") !default;

$carousel-transition:               transform .6s ease !default; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)


// Close

$close-font-size:                   $font-size-base * 1.5 !default;
$close-font-weight:                 $font-weight-bold !default;
$close-color:                       $white !default;
$close-text-shadow:                 none !default;

// Code

$code-font-size:                    87.5% !default;
$code-color:                        $pink !default;

$kbd-padding-y:                     .2rem !default;
$kbd-padding-x:                     .4rem !default;
$kbd-font-size:                     $code-font-size !default;
$kbd-color:                         $white !default;
$kbd-bg:                            $dark-charcoal !default;

$pre-color:                         $dark-charcoal !default;
$pre-scrollable-max-height:         340px !default;


// Printing
$print-page-size:                   a3 !default;
$print-body-min-width:              map-get($grid-breakpoints, "lg") !default;



//Bootstrap Select
$color-red-error: rgb(185, 74, 72) !default;
$color-green-success: #28a745;
$color-grey-arrow: rgba(204, 204, 204, 0.2) !default;

$width-default: 220px !default; // 3 960px-grid columns

$zindex-select-dropdown: 1060 !default; // must be higher than a modal background (1050)

//** Placeholder text color
$input-color-placeholder: #999 !default;
$input-alt-color-placeholder: rgba(255, 255, 255, 0.5) !default;

$input-padding-y-sm: .25rem !default;
$input-padding-x-sm: .5rem !default;

$input-padding-y-lg: 0.5rem !default;
$input-padding-x-lg: 1rem !default;


// CUSTOM
.bottom-align-text {
  position: absolute;
  bottom: 1.25em;
  left: 1.25em;
  max-width:calc(100% - 2.5em);
}


.panel-group {
  margin:0 0 1rem;
  @media (max-width:640px) {
    margin:0 0 3rem;
  }
}

.panel-default>.panel-heading {
  border-top:1px solid $cloud;
  border-bottom:none;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-title {
  margin:0!important;
}

.panel-default:last-child {
  border-bottom:1px solid $cloud;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 0.875rem 0 0.6875rem;
  line-height:1.375rem;
  text-decoration: none;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: -2px;
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  line-height: 1.375rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {

}

.panel-body {
  padding:0.75rem 0;
  max-width:900px;
  line-height:1.25rem;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content:"\f0d8";
  // -webkit-transform: rotate(180deg);
  // transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content:"\f0d7";
  // -webkit-transform: rotate(90deg);
  // transform: rotate(90deg);
}



.ole,
.elo {
  background: $cloud;
  padding: 6px 36px;
  display: inline-block;
  font-size: 1.2em;
  border-radius: 4px;
  border:0;
  cursor: pointer;
  color: #000;
}

.ct {
  text-align: center
}

.two {
  background: $dark-cloud;
}

.three {
  background: $lighter-cloud;
}

.four {
  background: $light-cloud;
}

.ole:hover,
.elo:hover {
  background: $primary;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  box-shadow: 0 0 0 #555;
}

.multiple_elements {
  padding: 30px 0 10px 0;
  text-align: center;
}

/*customizing tooltip color*/
/*right tooltip*/
// .tooltip.right > .tooltip-arrow {
//   border-right-color: $primary;
// }

// /*bottom tooltip*/
// .tooltip.bottom > .tooltip-arrow {
//   border-bottom-color: $primary;
// }

// /*top tooltip*/
// .tooltip.top > .tooltip-arrow {
//   border-top-color: $primary;
// }

// /*left tooltip*/
// .tooltip.left > .tooltip-arrow {
//   border-left-color: $primary;
// }

// /*tooltip inner*/
// .tooltip > .tooltip-inner {
//   background-color: $primary;
//   text-shadow: 0 1px 1px $primary;
//   font-weight: normal;
// }

// code {
//   color: royalblue;
//   background-color: azure;
// }

@media (max-width:640px) {
  .ole,
  .elo {
    padding: 6px 12px;
    font-size: 12px;
  }
}

.bg-lighter-teal {
  background-color:$lighter-teal!important;
}
.bg-yellow, .bg-orange {
  a, a:link, a:visited {
    text-decoration:underline!important;
    &:hover {
      
    }
  }
}

.bg-primary, .text-white {
  a, a:link, a:visited {
    color:$white!important;
    text-decoration:none !important;
    &:hover {
      color:$white!important;
    }
  }
  p {
    color:$white!important;
  }
  h1,h2,h3,h4,h5,h6, label {
    color:$white!important;
    a, a:link, a:visited {
      text-decoration:none!important;
      &:hover {
        text-decoration:underline!important;
      }
    }
  }
}

.icon__container {
  background-color: #e2ebee;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  text-align: center;
  i {
    position: absolute;
    left: 0;
    right: 0;
    color: #008c95;
    font-size: 25px;
    -ms-transform: translate(-50px, 0);
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.d-sm-table-cell,
.d-md-table-cell,
.d-lg-table-cell,
.d-table-cell {
  vertical-align: middle;
}

@media (max-width:768px) {
  .btn-sm-block {
    display: block;
    width: 100%;
    margin-top:20px;
  }
}

.ihrecord {
  border-bottom:1px solid $cloud;
  padding:35px 0;
  > a, > a:link, > a:visited {
    font-size:1rem;
    margin:0 0 10px;
    display:block;
    font-family: 'FFBauWebProMedium';
  }
  .page-description {
    font-family: "Chronicle-Text-G1";
    font-size:1rem;
    margin:0 0 10px;
  }
  .domain {
    font-size:0.875rem;
    color:$lighter-charcoal;
    a, a:link, a:visited {
      color:$lighter-charcoal !important;
    }
  }
}

.results {
  padding:20px 0;
  border-bottom:1px solid $cloud;
  text-align:left;
  color:$lighter-charcoal;
  p {
    font-family: $font-family-base;
    line-height:28px;
    margin:0;
    span {

    }
  }
  @media (max-width:920px) { 
    p {
      span {
        display:block;
        clear:both;
      }
    }
  }
}

.search-tools {
  .btn-group {
    > .btn {
      padding-left:0.9375rem;
      padding-right:0.9375rem;
      font-family: $font-family-base !important;
    }
  }
  @media (max-width:920px) {
    .col-md-12 {
      .container {
        padding-left:0;
        padding-right:0;
        padding-top:15px;
        padding-bottom:15px;
        border-top:1px solid #C6D2D7;
      }
      &.results-holder {
        .container {
          padding:0;
        }
      }
    }
  }
  
}



a.play-video {
  display: block;
  text-indent: -50000px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left:0;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
  z-index:900;
  &:after {
    display: block;
    width: 90px;
    height: 90px;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='90px' height='90px' viewBox='0 0 90 90' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='🖥-Cards-and-Tiles' transform='translate(-672.000000, -3545.000000)' fill='%23FFFFFF' stroke='%23FFFFFF'%3E%3Cg id='Group-44' transform='translate(50.000000, 3242.000000)'%3E%3Cg id='Group-11' transform='translate(20.000000, 20.000000)'%3E%3Cg id='Group-14' transform='translate(602.000000, 283.000000)'%3E%3Ccircle id='Oval-3' stroke-width='2' fill-opacity='0.5' cx='45' cy='45' r='44'%3E%3C/circle%3E%3Cpath d='M35.6708204,30.6734285 C35.4625372,30.5692869 35.2328676,30.5150693 35,30.5150693 C34.1715729,30.5150693 33.5,31.1866421 33.5,32.0150693 L33.5,56.984498 C33.5,57.2173656 33.5542176,57.4470352 33.6583592,57.6553184 C34.0288431,58.3962861 34.9298526,58.6966226 35.6708204,58.3261387 L60.6402491,45.8414244 C60.9305402,45.6962788 61.1659239,45.4608951 61.3110695,45.170604 C61.6815534,44.4296363 61.3812168,43.5286267 60.6402491,43.1581428 L35.6708204,30.6734285 Z' id='Rectangle-27'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");


    background-repeat:no-repeat;
    background-position: center center;
    content: '';
    position: absolute;
    bottom:20px;
    right:20px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
  }
  &:hover {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    &:after {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      -o-transition: all 300ms linear;
      transition: all 300ms linear;
    }
  }
  @media (max-width:640px) {
    
    &:after {
      display: block;
      width:40px;
      height:40px;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='40px' height='40px' viewBox='0 0 90 90' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='🖥-Cards-and-Tiles' transform='translate(-672.000000, -3545.000000)' fill='%23FFFFFF' stroke='%23FFFFFF'%3E%3Cg id='Group-44' transform='translate(50.000000, 3242.000000)'%3E%3Cg id='Group-11' transform='translate(20.000000, 20.000000)'%3E%3Cg id='Group-14' transform='translate(602.000000, 283.000000)'%3E%3Ccircle id='Oval-3' stroke-width='2' fill-opacity='0.5' cx='45' cy='45' r='44'%3E%3C/circle%3E%3Cpath d='M35.6708204,30.6734285 C35.4625372,30.5692869 35.2328676,30.5150693 35,30.5150693 C34.1715729,30.5150693 33.5,31.1866421 33.5,32.0150693 L33.5,56.984498 C33.5,57.2173656 33.5542176,57.4470352 33.6583592,57.6553184 C34.0288431,58.3962861 34.9298526,58.6966226 35.6708204,58.3261387 L60.6402491,45.8414244 C60.9305402,45.6962788 61.1659239,45.4608951 61.3110695,45.170604 C61.6815534,44.4296363 61.3812168,43.5286267 60.6402491,43.1581428 L35.6708204,30.6734285 Z' id='Rectangle-27'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }
}



// RANGE SLIDERS 


.slider-selection {
	background: $primary !important;
}
.slider-primary .slider-selection {
	background-color: $primary !important;
}
.slider.slider-horizontal {
    width: 100% !important;
    height: 20px;
}
.slider-handle {
	background-color: #fff !important;
	background-image: none !important;
	-webkit-box-shadow: 1px 1px 24px -2px rgba(0,0,0,0.75) !important;
	-moz-box-shadow: 1px 1px 24px -2px rgba(0,0,0,0.75) !important;
	box-shadow: 1px 1px 24px -2px rgba(0,0,0,0.75) !important;
}

.slider-strips .slider-selection {
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,252,252,0.08) 5px, rgba(252,252,252,0.08) 10px) !important;
	background-image: -ms-repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,252,252,0.08) 5px, rgba(252,252,252,0.08) 10px) !important;
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,252,252,0.08) 5px, rgba(252,252,252,0.08) 10px) !important;
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,252,252,0.08) 5px, rgba(252,252,252,0.08) 10px) !important; 
}

.slider .tooltip.top {
    margin-top: -25px !important;
}
.slider.slider-horizontal .slider-track {
  background:#B2D9DC;

}
.well {
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
	width: 100% !important;
	padding: 0;
}
.slider-ghost .slider-track {
	height: 5px !important;
}



// the magic
div.checkbox.switcher, div.radio.switcher {
  label {padding: 0;
    * {vertical-align: middle;}
    input {display: none;
      &+span {position: relative; display: inline-block; margin-right: 10px; width: 72px;padding:0px; height: 36px; background: $light-teal; border: 1px solid $light-teal; border-radius: 50px; transition: all 0.3s ease-in-out;
        -webkit-box-shadow:inset 0 1px 1px 1px rgba(0,0,0,0.15);
box-shadow:inset 0 1px 1px 1px rgba(0,0,0,0.15);

        small {position: absolute; display: block; width:50%; height: 100%; transition: all 0.3s ease-in-out; left: 0;
          &:after {
            background: #fff; border-radius: 50%; 
            content:'';
            display:block;
            width:28px;
            height:28px;
            position: absolute;
            top:calc(50% - 14px);
            left:calc(50% - 14px);
            -webkit-box-shadow:0 1px 1px 1px rgba(0,0,0,0.15);
            box-shadow:0 1px 1px 1px rgba(0,0,0,0.15);
          }
        }
      }
      &:checked+span {background: $teal; border-color: $teal;
        small {left: 50%;}
      }
    }
  }
}