#footer > .container {
  /* Align with the navbar container */
  padding-left: 15px;
  padding-right: 15px;
}

.footer-content {
  margin: 15px 0;
  color: #999;
}

/* Bootstrap's example styles
-------------------------------------------------- */
.bse-buttons > .btn,
.bse-buttons > .btn-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

.bs-thumbnails > div {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #f8f8f8;
}

/* Sidebar styles
-------------------------------------------------- */
.sidebar {
  padding-left: 20px;
}

.sidebar .nav > .active > ul {
  display: block;
}

.sidebar .nav > li > a {
  display: block;
  font-size: 13px;
  font-weight: 500;
  color: #999;
  padding: 4px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
  padding-left: 19px;
  color: #333;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #333;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
  padding-left: 18px;
  font-weight: 700;
  color: #333;
  background-color: transparent;
  border-left: 2px solid #333;
}

.sidebar .nav .nav {
  display: none;
  padding-bottom: 10px;
}

.sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: 400;
}
.sidebar .nav .nav > li > a:hover,
.sidebar .nav .nav > li > a:focus {
  padding-left: 29px;
}
.sidebar .nav .nav > .active > a,
.sidebar .nav .nav > .active:hover > a,
.sidebar .nav .nav > .active:focus > a {
  font-weight: 500;
  padding-left: 28px;
}

.back-to-top {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
  color: #999;
}
.back-to-top:hover {
  text-decoration: none;
  color: #333;
}

/* Banner
-------------------------------------------------- */
.banner {
  width: 200px;
  margin-top: 20px;
}
.banner a {
  font-size: 85%;
  color: #999;
}
.banner a:hover,
.banner a:active {
  color: #333;
  text-decoration: none;
}
.banner-thumbnail {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background-image: url(http://anvoz.github.io/world-js/images/thumb.png);
  background-position: -160px -60px;
}
